<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Authgear demo webapp - cookie session</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ template "index.css.html" }}
  </head>
  <body>
    <form method="POST">
      <p class="label">Session Type: cookie</p>
      <label class="label">
        Client ID
        <input
          class="input"
          type="text"
          name="client_id"
          placeholder="Enter Client ID"
          value="{{ .DefaultClientID }}"
        />
      </label>
      <p class="label">Endpoint: {{ .AuthgearEndpoint }}</p>
      <p class="label">Is SSO Enabled: true</p>
      <p class="label">
        {{ if .IsAuthenticated }}
        <span>Authenticated</span>
        {{ else }}
        <span>Unauthenticated</span>
        {{ end }}
      </p>
      <button class="button" name="action" value="login" type="submit">
        Login
      </button>
      {{ if .IsAuthenticated }}
      <button class="button" name="action" value="logout" type="submit">
        Logout
      </button>
      {{ end }}
      <div class="mt-2">
        User Info:
        <pre>{{ .UserJSON }}</pre>
      </div>
    </form>
  </body>
</html>
